{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        {%for post in images%}
        <div class="col-md-8 mb-5">
            <div class="card" style="width: 40rem;">
                <img src="{{post.image.url}}" class="img-fluid">
                <div class="card-body">
                    <!-- <h4 <i class="far fa-heart"></i></h4> -->
                    <a href="#" <i class="far fa-heart" style="font-size: 40px; width: 70px;"></i></a>
                    <a href="{% url 'add_comment' post.id %}" <i class="far fa-comment" style="font-size: 40px;"></i></a>
                    <a href="#" class="card-link"></a>
                    <!-- <h5 <i class="far fa-comment"></i></h5> -->
                    <a href="#" <i class="fas fa-bookmark" style="font-size: 40px; margin-left: 450px;"></i></a>


                    <h5 class="card-title">Likes by lucy@gen and 20 others</h5>
                    <p class="card-text">View all 7 comments</p>

                    <div class="commentsection">
                        <p>Total Comments: {{ post.comments.count }}</p>
                    </div>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

        </div>
        {%endfor%}

        <div class="col-md-4"></div>
    </div>

</div>

{%endblock%}