<!-- 
The search form above-->
<!-- <div class="col-sm-6 col-md-6">
    {% if user.is_authenticated %}
    <ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                  <span class="caret"></span>
              </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="{%url 'home'%}">Home</a>
          </li>
          <li>
            <a href="/accounts/password/change">Change Password</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    {% else %}
    <li>
      <a class='btn btn-default' href="/accounts/login">Login</a>
    </li>

    {% endif %}
  </div> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white mb-2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" style="font-size: 30px; margin-left: 200px; font-weight: bolder; font-family: cursive;"
        href="{% url 'home' %}">Instagram</a>
      <form class="form-inline my-4 my-lg-0" role="search" action="{% url 'search_user'%}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_user">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a href="{% url 'profile' %}"><i class="far fa-user-circle"
          style="font-size: 30px; margin-left: 210px; color: black;">Profile</i></a>
    </div>
    <div>
      <a href="{% url 'new_post' %}">New Post</a>
    </div>
    <div>
      <a class="nav-item nav-link login" href="/login">Login</a>
    </div>
    <div>
      <a class="nav-item nav-link logout" href="/logout">Log Out</a>
    </div>
  </nav>
</body>

</html>