{% extends 'base.html' %}
{% load bootstrap4 %}
{%block content%}
<div class="col-md-6 m-auto card>
    <div class=" content-section container" style="padding-top: 100px;">
    <div class="media">
        <div class="col-md-4">
            <div style="width: 150px; height:150px; overflow:hidden; border-radius:50%" class="img-wrapper">
                <img width="120%" height="120%" src="{{user.profile.profile_pic.url }}" alt="profile">
            </div>
        </div>
        <div class="media-body" style="margin-left: 80px;">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
            <p>{{user.profile.bio}}</p>
            <button type="button" class="btn btn-secondary">Update Profile</button>
        </div>
        
    </div>
    <hr>
    {%endblock content%}    